<!-- src/app/room/receive/apparel-receive.component.html -->
<div class="container py-2">
  <h4>Receive Apparel (Room #{{ roomId }})</h4>

  <form [formGroup]="receiveForm" (ngSubmit)="submit()">
    <div class="mb-2">
      <label class="form-label">Name</label>
      <input class="form-control" formControlName="apparelName" />
      <div *ngIf="receiveForm.get('apparelName')?.touched && receiveForm.get('apparelName')?.invalid" class="text-danger small">Name is required</div>
    </div>

    <div class="row">
      <div class="col-md-3 mb-2">
        <label class="form-label">Level</label>
        <select class="form-select" formControlName="apparelLevel">
          <option *ngFor="let o of apparelLevels" [value]="o.value">{{ o.label }}</option>
        </select>
      </div>

      <div class="col-md-3 mb-2">
        <label class="form-label">Type</label>
        <select class="form-select" formControlName="apparelType">
          <option *ngFor="let o of apparelTypes" [value]="o.value">{{ o.label }}</option>
        </select>
      </div>

      <div class="col-md-3 mb-2">
        <label class="form-label">For</label>
        <select class="form-select" formControlName="apparelFor">
          <option *ngFor="let o of apparelForOptions" [value]="o.value">{{ o.label }}</option>
        </select>
      </div>

      <div class="col-md-3 mb-2">
        <label class="form-label">Size</label>
        <select class="form-select" formControlName="apparelSize">
          <option *ngFor="let o of apparelSizes" [value]="o.value">{{ o.label }}</option>
        </select>
      </div>
    </div>

    <div class="mb-2 row">
      <div class="col-md-3">
        <label class="form-label">Quantity</label>
        <input type="number" class="form-control" formControlName="apparelQuantity" />
      </div>

      <div class="col-md-4">
        <label class="form-label">Received From</label>
        <input class="form-control" formControlName="receivedFrom" />
      </div>

      <!-- <div class="col-md-4">
        <label class="form-label">Received By (accountId)</label>
        <input type="number" class="form-control" formControlName="receivedBy" />
      </div> -->
      <div class="mb-2">
        <label class="form-label">Received By</label>
        <!-- <input type="number" formControlName="receivedBy" class="form-control" readonly /> -->
        <ng-container *ngIf="currentUserName">
          <input class="form-control" [value]="currentUserName" readonly />
          <!-- Hidden field: still binds numeric id into the form -->
          <input type="hidden" formControlName="receivedBy" />
        </ng-container>
      </div>
    </div>

    <div class="mb-2">
      <label class="form-label">Notes</label>
      <textarea class="form-control" formControlName="notes"></textarea>
    </div>

    <button class="btn btn-primary" [routerLink]="['receive', 'list']" type="submit" [disabled]="submitting">Receive</button>
  </form>
</div>
