<div class="p-1 container">
  <h2>Room: {{ room?.roomName }}</h2>

  <p class="mb-3">
    Floor: {{ room?.roomFloor }} •
    Type: {{ room?.roomType }} •
    <span *ngIf="room?.stockroomType">Stock: {{ room?.stockroomType }} •</span>
    In charge: {{ room?.roomInCharge }}
  </p>

  <div *ngIf="room?.roomType === 'stockroom' || room?.roomType === 'subStockroom'" class="mb-3">
    <button class="btn btn-sm btn-outline-primary ms-3" [routerLink]="['units', stockPath]">
      Unit List
    </button>
    <button class="btn btn-sm btn-outline-secondary ms-1" [routerLink]="['inventory', stockPath]">
      Inventory List
    </button>
    <button class="btn btn-sm btn-outline-secondary ms-1"
        [routerLink]="['receive', stockPath, 'list']">
      Receive List
    </button>
    <button class="btn btn-sm btn-outline-secondary ms-1"
        [routerLink]="['release', stockPath, 'list']">
      Release List
    </button>
  </div>
  <a class="btn btn-success me-2" [routerLink]="['receive', stockPath]">Receive</a>
  <a class="btn btn-danger me-2" [routerLink]="['release', stockPath]">Release</a>

  <!-- children (inventory / receive / release / units) will render here -->
  <router-outlet></router-outlet>
</div>
