<div class="container py-2">
  <h4>Receive General Item (Room #{{ roomId }})</h4>

  <form [formGroup]="receiveForm" (ngSubmit)="submit()">
    <div class="mb-2">
      <label class="form-label">Name</label>
      <input class="form-control" formControlName="genItemName" />
      <div *ngIf="receiveForm.get('genItemName')?.touched && receiveForm.get('genItemName')?.invalid" class="text-danger small">Name is required</div>
    </div>

    <div class="mb-2">
      <label class="form-label">Size</label>
      <input class="form-control" formControlName="genItemSize" />
      <div *ngIf="receiveForm.get('genItemSize')?.touched && receiveForm.get('genItemSize')?.invalid" class="text-danger small">Size is required</div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <label class="form-label">Quantity</label>
        <input type="number" class="form-control" formControlName="genItemQuantity" />
      </div>

      <div class="col-md-3 mb-2">
        <label class="form-label">Type</label>
        <select class="form-select" formControlName="genItemType">
          <option *ngFor="let o of genItemTypes" [value]="o.value">{{ o.label }}</option>
        </select>
      </div>
    </div>
    <div class="mb-2 row">
      <div class="col-md-4">
        <label class="form-label">Received From</label>
        <input class="form-control" formControlName="receivedFrom" />
      </div>

      <div class="mb-2">
        <label class="form-label">Received By</label>
        <ng-container *ngIf="currentUserName">
          <input class="form-control" [value]="currentUserName" readonly />
          <input type="hidden" formControlName="receivedBy" />
        </ng-container>
      </div>
    </div>

    <div class="mb-2">
      <label class="form-label">Notes</label>
      <textarea class="form-control" formControlName="notes"></textarea>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="submitting">Receive</button>
  </form>
</div>
